@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Oswald&family=Roboto&display=swap");
@import url(images/layered-steps-haikei.svg);
@import url(images/layered-steps-haikei-navbar.svg);
@import url(images/stacked-waves-haikei.svg);

* {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: black;
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(images/layered-steps-haikei.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* DIT KAN GEBRUIKT WORDEN VOOR EEN LOGO FOTO IPV GROTE NAAM MET TEXT

header, .logo-container, .logo {
    background: rgb(190, 211, 190);
    height: 150px;
    text-align: center;
}

*/
header {
  font-size: 50px;
  text-align: center;
}

/* -----------------NAVBAR------------ */

ul.navbar {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  border-style: solid;
  border-color: black;
}

nav {
  position: sticky;
  top: 0;
  background: rgb(197, 168, 168);
  z-index: 999;
}

.navbar-item {
  display: inline-block;
  margin: 1.4vw;
  transition: 0.7s;
  font-size: 4vw;
}

button.contact {
  border: none;
  border-radius: 5px;
  background: rgb(159, 52, 171);
  font-family: "Oswald", sans-serif;
  font-size: 4vw;
  color: black;
  transition: 0.7s;
  box-shadow: 0.5px 0.5px 2px 0.5px black;
}

/* ----------------------------------- */

/* ----------------OVER MIJ----------- */

.overmij {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40vw;
}

h2.overmijtitel,
.overmij h3 {
  margin: 0;
}
.overmijtitel {
  padding-top: 5vw;
}

figure.fotovanmij {
  width: 18vw;
  margin: 1vw;
}

#foto-van-mij {
  width: 18vw;
  border-radius: 15%;
}

#meerovermij {
  border: none;
  border-radius: 0.4vw;
  background: rgb(159, 52, 171);
  color: black;
  transition: 0.7s;
  font-size: 2vw;
  font-family: "Oswald", sans-serif;
  box-shadow: 0.5px 0.5px 2px 0.5px black;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

.lbl-toggle {
  font-size: 4vw;
  text-align: center;
  color: black;
  background: rgb(159, 52, 171);
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.25s ease-out;
  box-shadow: 0.5px 0.5px 2px 0.5px black;
  padding: 0.5vw 2vw 0.5vw 1vw;
  margin-bottom: 1.5vw;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: rgba(250, 224, 66, 0.2);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0.5rem 1rem;
  display: flex;
}

.lbl-toggle::before {
  content: " ";
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: 0.5rem;
  margin-left: 0.2rem;
  transform: translateY(-2px);

  transition: transform 0.2s ease-out;
}
.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* -------------------------------- */

/* ---------SKILLS--------------- */
section.skills {
  background: rgb(197, 168, 168);
  margin-top: 35vh;
}

.skillstitel,
section.projecten h2,
#contacttitel {
  font-size: 4.5vw;
  padding-top: 1vh; /* TITELS SKILLS, PROJECTEN, CONTACT */
  text-align: center;
  color: black;
  margin-block-end: 0;
  margin-block-start: 0;
}

.skill-logos {
  color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.skill-logos img {
  width: 8vw;
}

.skill-logos figure {
  margin: 1vw;
}

figcaption {
  text-align: center;
  font-size: 2vw;
}

.skill-logos:hover {
  cursor: pointer;
}

/* ------------------------------*/

/*----------PROJECTEN-------------*/
section.projecten {
  margin-top: -15vh;
}

#project-platen {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 14vh;
}

#project-platen figure img,
#project-platen figure figcaption:hover {
  cursor: pointer;
}

#project-platen figure img {
  width: 15vw;
}

#project-platen figure {
  margin: 4px;
}

/*---------------------------------*/
/*--------------CONTACT-----------*/

#contacttitel {
  font-size: 7vw;
}

.social-logos figure {
  margin: 1vw;
}

.social-logos img {
  width: 10vw;
}

.social-logos {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
}

.social-logos img:hover {
  cursor: pointer;
}

/*-----------FOOTER-----------*/

footer {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  margin-top: 5vh;
  font-size: 15px;
  text-align: center;
}
/*---------------------------*/
/*-------NAVBAR CLICKS------*/
#overmij {
  display: block;
  position: relative;
  top: -10vh;
}

#skills,
#projecten,
#contact {
  display: block;
  position: relative;
  top: -30vh;
}

#top {
  display: block;
  position: relative;
  top: 0px;
}

/*----MEDIA QUERIES/RESPONSIVENESS----*/
@media (hover: hover) and (pointer: fine) {
  button.contact:hover,
  #meerovermij:hover {
    cursor: pointer;
    background: rgb(102, 6, 114);
    text-decoration: underline;
    transition: 0.25s;
  }
}
@media (hover: hover) and (pointer: fine) {
  button.contact:hover {
    letter-spacing: 0.05em;
  }
}
@media (hover: hover) and (pointer: fine) {
  .navbar-item:hover {
    cursor: pointer;
    color: #dbdbdb;
    text-decoration: underline;
    transition: 0.25s;
    letter-spacing: 0.05em;
  }
}
@media only screen and (max-width: 99999px) {
  .navbar-item,
  button.contact {
    font-size: 1.1vw;
    margin: 0.4vw;
    padding: 0 1vw;
  }
  .overmij h3 {
    margin: 0px;
    padding: 0px;
  }
}

@media only screen and (max-width: 2560px) {
  .navbar-item,
  button.contact {
    font-size: 1.1vw;
    margin: 0.4vw;
    padding: 0 1vw;
  }
  .overmij h3 {
    margin: 0px;
    padding: 0px;
    font-size: 3vw;
  }
  .overmij h2 {
    font-size: 2vw;
  }
  #foto-van-mij,
  figure.fotovanmij {
    width: 13vw;
  }
  .navbar {
    border: 1.6px;
  }
}

@media only screen and (max-width: 1440px) {
  .navbar-item,
  button.contact {
    font-size: 1.8vw;
    margin: 0.5vw;
  }
  .overmij h3 {
    font-size: 4vw;
  }
  .overmij h2 {
    font-size: 3vw;
  }
  #foto-van-mij,
  figure.fotovanmij {
    width: 15vw;
  }
}

@media only screen and (max-width: 1200px) {
  /*---NAVBAR----*/
  .overmij {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40vw;
  }

  .navbar-item,
  button.contact {
    font-size: 2vw;
    margin: 0.5vw;
  }
  /*---OVER MIJ ---*/
  .overmij {
    margin-bottom: 0;
  }
  .overmijtitel {
    padding-top: 1vh;
  }
  .overmij h3 {
    font-size: 7vw;
    line-height: 1;
    padding-bottom: 1vh;
  }
  .overmij h2 {
    font-size: 3.8vw;
  }
  #foto-van-mij,
  figure.fotovanmij {
    width: 16vw;
  }
  #meerovermij {
    font-size: 10vw;
  }
  .lbl-toggle {
    font-size: 2vw;
    padding: 0.5vw 2vw 0.5vw 1vw;
  }
  .lbl-toggle::before {
    border-top: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    border-left: .5rem solid currentColor;
  }
  .content-inner {
    font-size: 2vw;
  }
  /*----SKILLS----*/

.skill-logos {
  justify-content: center;
}
.skill-logos figure {
    margin: 4px;
  }
  .skill-logos figure img {
    margin: 1.5vw;
    width: 5vw;
  }
  /*-----PROJECTEN----*/
  #project-platen {
    justify-content: center;
  }
  #project-platen figure img {
    width: 25vw;
  }

  #project-platen figure {
    margin: 1vw;
  }

  #project-platen figure figcaption {
    font-size: 4vw;
  }

  /*---CONTACT----*/
}

/*------------TABLET----------------*/
@media only screen and (max-width: 768px) {
  /*----NAVBAR-----*/
  .navbar-item,
  button.contact {
    font-size: 4vw;
  }
  .navbar {
    border: 1.2px;
  }
  /*----OVER MIJ----*/
  .overmij2 {
    visibility: hidden;
  }
  .overmij h3 {
    font-size: 8vw;
  }
  .overmij h2 {
    font-size: 5vw;
    line-height: 0.7;
    padding-top: 3vh;
  }
  .secovermij {
    margin-top: -2vw;
  }
  .overmij {
    margin-bottom: 40vw;
  }
  #foto-van-mij,
  figure.fotovanmij {
    width: 32vw;
  }
  .lbl-toggle {
    font-size: 3vw;
  }
  .lbl-toggle::before {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid currentColor;
  }
  .content-inner {
    font-size: 3vw;
  }
  /*----SKILLS----*/
  .skill-logos {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }
  .skill-logos figure {
    margin: 4px;
  }
  .skill-logos figure img {
    margin: 1vw 5px 1vw 1vw;
    width: 15vw;
  }
  .skill-logos figcaption {
    font-size: 3vw;
    line-height: 0.7;
  }
  .skillstitel,
  section.projecten h2 {
    font-size: 35px;
  }
  /*----PROJECTEN---*/
  #project-platen {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #project-platen figure img {
    width: 35vw;
  }

  #project-platen figure {
    margin: 2vw;
  }

  #project-platen figure figcaption {
    font-size: 4vw;
  }
}

/*----------------MOBIEL-------------------*/

/*---NAVBAR---*/
@media only screen and (max-width: 450px) {
  .navbar-item,
  button.contact {
    font-size: 5vw;
  }
  .navbar {
    border: 1.2px;
  }

  /*---OVER MIJ---*/

  /*----SKILLS----*/
  .skill-logos figure {
    margin: 4px;
  }
  .skill-logos figure img {
    margin: 5px 5px 0px 5px;
    width: 15vw;
  }
  /*------PROJECTEN-----*/

  #project-platen figcaption {
    font-size: 18px;
    line-height: 0.8;
  }
  #project-platen figure img {
    width: 120px;
  }

  #project-platen figure {
    margin: 4vw;
  }

  .skillstitel,
  section.projecten h2 {
    font-size: 22px;
  }

  /*-----CONTACT-----*/
  #contacttitel {
    font-size: 7vw;
  }

  .social-logos figure {
    margin: 3vw;
  }

  .social-logos img {
    width: 50px;
  }
  #contacttitel {
    font-size: 32px;
  }
}
