@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600&family=Montserrat:wght@300;400;500;700;800&family=Open+Sans:wght@300;400;500;600&display=swap");
:root {
  --text: white;
  --background: #160024;
  --primary: #8d4eb1;
  --secondary: #043422;
  --accent: #21ca8c;
  --pointer: pointer;
  --cursor: url("./images/cursor.png") 25 25, auto;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: var(--cursor);
  text-decoration: none;
  color: var(--tekst);
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #160024;
  text-decoration: none;
  cursor: var(--cursor);
  scroll-behavior: smooth;
  color: var(--text);
  height: 10000px;
}

a:hover {
  cursor: pointer;
}

.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: white;
}
.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid white;
}
.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: var(--text);
}

.logo:hover {
  cursor: pointer;
}

/* header */
.header {
  position: fixed;
  width: 100%;
  z-index: 3;
  height: auto;
  padding: 10px;
  background-color: var(--background);
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: var(--text);
  font-weight: 400;
}
.header li a:hover,
.header .menu-btn:hover {
  /* background-color: var(--primary);
  cursor: pointer; */
  transition: 0.7s;

  font-weight: 800;
}
.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  cursor: var(--pointer);
}
/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 1);
}
/* menu icon */
.header .menu-icon {
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  color: var(--text);
}
.header .menu-icon .navicon {
  background: var(--text);
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 20px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: var(--text);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;

  width: 100%;
}
.header .menu-icon .navicon:before {
  top: 5px;
}
.header .menu-icon .navicon:after {
  top: -5px;
}
/* menu btn */
.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 320px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
/* 48em = 768px */
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    box-shadow: none;
  }
  .header .menu-icon {
    display: none;
  }
}
/* Aangepaste stijlregels voor onderstrepingseffect */
.header li a {
  position: relative;
  transition: color 0.2s;
  overflow: hidden; /* Voeg deze regel toe */
}
.header li a::before,
.header li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}
.header li a::before {
  transform-origin: bottom left;
}
.header li a:hover::before,
.header li a:hover::after {
  transform: scaleX(1);
}
/* Titel */
.title {
  display: flex;
  flex-direction: column;
  height: 100vh;

  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 700;
  color: var(--text);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  gap: 20px;
}
.title span {
  color: var(--accent);
}
.button {
  padding: 10px 15px;
  background-color: var(--accent); /* Primary kleur */
  color: var(black); /* Tekstkleur */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s, transform 0.2s;
  font-size: 0.7em;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.button:hover {
  background-color: var(--secundary); /* Accentkleur */
  transform: scale(1.05);
  cursor: var(--pointer);
  border: 1px solid var(--accent);
  color: white;
  box-shadow: 0 0 8px 1px var(--accent);
}

.button .goback {
  margin: 20px;
  position: fixed;
}
.projects h2 {
  text-align: center;
  color: var(--text);
  font-size: 2.3em;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.projects-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5vw;
  margin-top: 30px;
}

.card {
  width: 300px;
  background-color: var(--secondary);
  border-radius: 20px;
  box-shadow: 0px 1px 10px 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 15px;
  transition: 0.2s;
  text-align: center;
}

.card:hover {
  transform: scale(1.02);
  cursor: var(--pointer);
}

.card img {
  object-fit: cover;
  width: 270px;
  height: 270px;
  border-radius: 20px;
}

#spark {
  object-fit: contain;
}
.card hr {
  width: 95%;
  opacity: 0.5;
}

.card .project-skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}

.card .project-skills img {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.card p {
  font-family: "Open Sans", sans-serif;
  font-weight: 00px;
  opacity: 0.8;
}

/* Jouw bestaande stijlen */

.card.expanded {
  width: 500px;
  height: 515px;
  transition: 0.4s;
}

.card.expanded .front-card {
  display: none;
}

.card.expanded .project-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  gap: 10px;
}
.card.expanded .project-skills {
  display: none;
}

.project-details {
  display: none;
}

.front-card {
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-details .close {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: ;
}

.close-button {
  background: var(--primary);
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0;
}

.project-details a.button {
  width: 30%;
  text-align: center;
}

.button.goback {
  position: fixed;
  top: 0;
  z-index: 9999;
  left: 0;
  margin: 1vw;
  color: black;
  font-size: 16px;
}

.button.goback:hover {
  color: white;
  background-color: rgb(20, 52, 42);
}

.button.goback i {
  color: black;
  padding-right: 5px;
}

.button.goback:hover i {
  color: white;
}
