@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Oswald&family=Roboto&display=swap");
@import url(images/layered-steps-haikei.svg);
@import url(images/layered-steps-haikei-navbar.svg);
@import url(images/stacked-waves-haikei.svg);

* {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: black;
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(images/layered-steps-haikei.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* DIT KAN GEBRUIKT WORDEN VOOR EEN LOGO FOTO IPV GROTE NAAM MET TEXT

header, .logo-container, .logo {
    background: rgb(190, 211, 190);
    height: 150px;
    text-align: center;
}

*/
header {
  font-size: 50px;
  text-align: center;
}

/* -----------------NAVBAR------------ */

ul.navbar {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  border-style: solid;
  border-color: black;
}

nav {
  position: sticky;
  top: 0;
  background: rgb(197, 168, 168);
  z-index: 999;
}

.navbar-item {
  display: inline-block;
  margin: 1.4vw;
  transition: 0.7s;
  font-size: 4vw;
}

button.contact {
  border: none;
  border-radius: 5px;
  background: rgb(159, 52, 171);
  font-family: "Oswald", sans-serif;
  font-size: 4vw;
  color: black;
  transition: 0.7s;
  box-shadow: 0.5px 0.5px 2px 0.5px black;
}

/* ----------------------------------- */

/* ----------------OVER MIJ----------- */

.overmij {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
}

h2.overmijtitel,
.overmij h3 {
  margin: 0;
}
.overmijtitel {
  padding-top: 5vw;
}

figure.fotovanmij {
  width: 18vw;
  margin: 1vw;
}

#foto-van-mij {
  width: 18vw;
  border-radius: 15%;
}

#meerovermij {
  border: none;
  border-radius: 0.4vw;
  background: rgb(159, 52, 171);
  color: black;
  transition: 0.7s;
  font-size: 2vw;
  font-family: "Oswald", sans-serif;
  box-shadow: 0.5px 0.5px 2px 0.5px black;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

.lbl-toggle {
  font-size: 4vw;
  text-align: center;
  color: black;
  background: rgb(159, 52, 171);
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.25s ease-out;
  box-shadow: 0.5px 0.5px 2px 0.5px black;
  padding: 0.5vw 2vw 0.5vw 1vw;
  margin-bottom: 1.5vw;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: rgba(250, 224, 66, 0.2);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0.5rem 1rem;
  display: flex;
}

.lbl-toggle::before {
  content: " ";
  display: inline-block;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
}
.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* -------------------------------- */

/* ---------SKILLS--------------- */
section.skills {
  background: rgb(197, 168, 168);
  
}

.skillstitel,
section.projecten h2,
#contacttitel {
  font-size: 3.5vw;
  text-align: center;
  color: black;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-top: 3vh;
}
section.projecten h2 {
  margin-top: 5vh;
}
.skill-logos {
  color: black;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill-logos img {
  width: 8vw;
}

.skill-logos figure {
  margin: 0.1vw 1vw 1vh 1vw;
}

figcaption {
  text-align: center;
  font-size: 2vw;
}

.skill-logos:hover {
  cursor: pointer;
}

/* ------------------------------*/

/*----------PROJECTEN-------------*/
section.projecten {
  margin-top: 3vh;
}

#project-platen {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 14vh;
}

#project-platen figure img,
#project-platen figure figcaption:hover {
  cursor: pointer;
}

#project-platen figure img {
  width: 15vw;
}

#project-platen figure {
  margin: 4px;
}

/*---------------------------------*/
/*--------------CONTACT-----------*/

#contacttitel {
  font-size: 4.5vw;
}

.social-logos figure {
  margin: 1vw;
}

.social-logos img {
  width: 10vw;
}

.social-logos {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
}

.social-logos img:hover {
  cursor: pointer;
}

/*-----------FOOTER-----------*/

footer {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  margin-top: 5vh;
  font-size: 15px;
  text-align: center;
}
/*---------------------------*/
/*-------NAVBAR CLICKS------*/
#overmij {
  display: block;
  position: relative;
  top: -10vh;
}

#skills,
#projecten,
#contact {
  display: block;
  position: relative;
  top: -20vh;
}

#top {
  display: block;
  position: relative;
  top: 0px;
}

/*----MEDIA QUERIES/RESPONSIVENESS----*/
@media (hover: hover) and (pointer: fine) {
  button.contact:hover,
  #meerovermij:hover {
    cursor: pointer;
    background: rgb(102, 6, 114);
    text-decoration: underline;
    transition: 0.25s;
  }
}
@media (hover: hover) and (pointer: fine) {
  button.contact:hover {
    letter-spacing: 0.05em;
  }
}
@media (hover: hover) and (pointer: fine) {
  .navbar-item:hover {
    cursor: pointer;
    color: #dbdbdb;
    text-decoration: underline;
    transition: 0.25s;
    letter-spacing: 0.05em;
  }
}

@media only screen and (max-width: 2560px) {
  /*----NAVBAR----*/
  .navbar-item,
  button.contact {
    font-size: calc(15px + 1.8vh);
    margin: 0.5vw;
    padding: 0 1vw;
  }
  .navbar {
    border: 2px;
  }
  /*---OVER MIJ---*/
  .overmij {
    margin-bottom: 3vh;
  }
  .overmij h3 {
    margin: 0px;
    padding: 0px;
    font-size: 5vw;
  }
  .overmij h2 {
    font-size: 3vw;
    padding-top: 3vh;
    line-height: 1;
  }
  #foto-van-mij,
  figure.fotovanmij {
    width: 18vw;
  }
  .lbl-toggle {
    font-size: 1.5vw;
  }
  .lbl-toggle::before {
    border-top: 0.6vw solid transparent;
    border-bottom: 0.6vw solid transparent;
    border-left: 0.6vw solid currentColor;
    margin-right: 1vw;
    margin-left: 0.3vw;
  }
  .content-inner {
    font-size: 1.5vw;
  }

  /*----SKILLS----*/
  .skill-logos figure img {
    width: calc(30px + 3vw);
  }
  .skill-logos figcaption {
    font-size: calc(8px + 1vw);
  }
  .skillstitel {
    font-size: calc(20px + 1vw);
  }
  /*---PROJECTEN----*/
  section.projecten {
    padding: 0 20vw;
  }
  #project-platen figure img {
    width: calc(70px + 9vw);
  }
  #project-platen figure {
    margin: 1.5vw;
  }
  /*---CONTACT----*/
  .social-logos figure {
    margin: 1vw;
  }
  .social-logos img {
    width: calc(60px + 4vw);
  }
}

@media only screen and (max-width: 1440px) {
  /*----NAVBAR-----*/

  /*----OVER MIJ----*/
  .overmij h3 {
    font-size: 6vw;
  }
  .overmij h2 {
    font-size: 3vw;
    line-height: 0.6;
  }

  .overmij {
    margin-top: 2vh;
  }
  /*----SKILLS----*/

  .skill-logos figcaption {
    font-size: calc(8px + 0.8vw);
    line-height: 0.7;
  }
  section.skills {
    padding-bottom: 1vh;
  }

  /*----PROJECTEN---*/

  #project-platen figure figcaption {
    font-size: calc(20px + 0.8vw);
  }

  section.projecten h2 {
    font-size: calc(15px + 3vw);
    margin-bottom: 1.5vw;
  }
  /*---CONTACT----*/

  .social-logos img {
    width: calc(40px + 3vw);
  }
}
/*------------TABLET----------------*/

@media only screen and (max-width: 768px) {
  /*----NAVBAR-----*/
  .navbar-item,
  button.contact {
    font-size: 4vw;
  }
  .navbar {
    border: 1.2px;
  }
  /*----OVER MIJ----*/

  .overmij h3 {
    font-size: 8vw;
  }
  .overmij h2 {
    font-size: 5vw;
    padding-top: 3vh;
  }

  #foto-van-mij,
  figure.fotovanmij {
    width: 32vw;
  }
  .lbl-toggle {
    font-size: 3vw;
  }
  .lbl-toggle::before {
    border-top: 0.8vw solid transparent;
    border-bottom: 0.8vw solid transparent;
    border-left: 0.8vw solid currentColor;
    margin-right: 1vw;
    margin-left: 0.3vw;
  }

  .content-inner {
    font-size: 3vw;
  }
  /*----SKILLS----*/

  .skill-logos figure img {
    width: calc(40px + 3vw);
    margin: 0.5vw;
  }
  .skill-logos figcaption {
    font-size: calc(11px + 0.8vw);
  }
  .skillstitel {
    font-size: calc(10px + 3vw);
  }
 .section.skills {
  padding-bottom: 1vh;
 }
  /*----PROJECTEN---*/
  section.projecten {
    padding: 0 2vw;
  }

  #project-platen figure img {
    width: calc(100px + 15vw);
  }

  #project-platen figure {
    margin: 2vw;
  }

  #project-platen figure figcaption {
    font-size: 4vw;
  }

  /*---CONTACT----*/
  section.projecten h2,
  #contacttitel {
    font-size: 8vw;
    margin-bottom: 1.5vw;
  }
}

/*----------------MOBIEL-------------------*/

/*---NAVBAR---*/
@media only screen and (max-width: 450px) {
  .navbar-item,
  button.contact {
    font-size: 5vw;
  }
  .navbar {
    border: 1.2px;
  }

  /*---OVER MIJ---*/

  /*----SKILLS----*/
  .skill-logos figure {
    margin: 4px;
  }
  .skill-logos figure img {
    font-size: calc(15px + 1.8vw);
    margin: 0.5vw;
  }
  .skill-logos figure figcaption {
    font-size: calc(8px + 1vw);
  }
  .skillstitel {
    font-size: 6vw;
  }
  /*------PROJECTEN-----*/

  #project-platen figcaption {
    font-size: 18px;
    line-height: 0.8;
  }
  #project-platen figure img {
    width: calc(80px + 9vw);
  }

  #project-platen figure {
    margin: 2vw;
  }

  section.projecten h2,
  #contacttitel {
    font-size: 9vw;
    margin-bottom: 1.5vw;
  }

  /*-----CONTACT-----*/
  .social-logos figure {
    margin: 3vw;
  }
  .social-logos img {
    width: calc(30px + 3vw);
  }
}
