@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Oswald&family=Roboto&display=swap");
@import url(images/layered-steps-haikei.svg);
@import url(images/layered-steps-haikei-navbar.svg);
@import url(images/stacked-waves-haikei.svg);

* {
  text-decoration: none;
  color: black;
}

html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  background-color: black;
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(images/layered-steps-haikei.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* DIT KAN GEBRUIKT WORDEN VOOR EEN LOGO FOTO IPV GROTE NAAM MET TEXT

header, .logo-container, .logo {
    background: rgb(190, 211, 190);
    height: 150px;
    text-align: center;
}

*/
header {
  font-size: 50px;
  text-align: center;
}

/* -----------------NAVBAR------------ */

ul.navbar {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 1.5px;
  border-style: solid;
  border-color: black;
}

nav {
  position: sticky;
  top: 0;
  background: rgb(197, 168, 168);
  z-index: 100;
}

.navbar-item {
  display: inline-block;
  margin: 1.4vw;
  transition: 0.7s;
  font-size: 4vw;
}

@media (hover: hover) and (pointer: fine) {
  .navbar-item:hover {
    cursor: pointer;
    color: rgb(188, 116, 0);
    transition: 0.25s;
    letter-spacing: 0.05em;
  }
}

@media (hover: hover) and (pointer: fine) {
  button.contact:hover {
    cursor: pointer;
    background: rgb(102, 6, 114);
    transition: 0.25s;
    letter-spacing: 0.05em;
  }
}

button.contact {
  border: none;
  border-radius: 5px;
  background: rgb(159, 52, 171);
  font-family: "Oswald", sans-serif;
  font-size: 4vw;
  color: black;
  transition: 0.7s;
}

/* ----------------------------------- */

/* ----------------OVER MIJ----------- */

section.over-mij {
  margin-bottom: 35vh;
  margin-top: 5vh;
}

section.overmijtekstenfoto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
h2.overmijtitel, .tekstovermij h3 {
  margin: 0;
  
}

.tekstovermij {
    text-shadow: 1px 0px 0px grey;
}

figure.fotovanmij {
  width: 18vw;
  margin: 3vw;
}

#foto-van-mij {
  width: 18vw;
  border-radius: 15%;
}

/* -------------------------------- */

/* ---------SKILLS--------------- */
section.skills {
  background: rgb(197, 168, 168);
  margin-bottom: 10vh;
}

.skillstitel,
section.projecten h2,
#contacttitel {
  font-size: 4.5vw;
  padding-top: 1vh; /* TITELS, SKILLS, PROJECTEN, CONTACT */
  text-align: center;
  color: black;
  margin-block-end: 0;
  margin-block-start: 0;
}

.skill-logos {
  color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.skill-logos img {
  width: 8vw;
  height: 8vw;
}

.skill-logos figure {
  margin: 1vw;
}

figcaption {
  text-align: center;
  font-size: 2vw;
}

.skill-logos:hover {
  cursor: pointer;
}

/* ------------------------------*/

/*----------PROJECTEN-------------*/
section.projecten {
  margin-top: -30vh;
}

#project-platen {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 1.5vh;
  padding-bottom: 14vh;
}

#project-platen figure img,
#project-platen figure figcaption:hover {
  cursor: pointer;
}

#project-platen figure img {
  width: 15vw;
}

#project-platen figure {
  margin: 4px;
}

/*---------------------------------*/
/*--------------CONTACT-----------*/

#contacttitel {
  font-size: 7vw;
}

.social-logos figure {
  margin: 1vw;
}

.social-logos img {
  width: 10vw;
}

.social-logos {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
}

.social-logos img:hover {
  cursor: pointer;
}

/*-----------FOOTER-----------*/

footer {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  margin-top: 5vh;
  font-size: 15px;
  text-align: center;
}
/*---------------------------*/
/*-------NAVBAR CLICKS------*/
#overmij {
  display: block;
  position: relative;
  top: -10vh;
}

#skills,
#projecten,
#contact {
  display: block;
  position: relative;
  top: -30vh;
}

#top {
  display: block;
  position: relative;
  top: 0px;
}

/*----MEDIA QUERIES/RESPONSIVENESS----*/
@media (hover: hover) and (pointer: fine) {
  button.contact:hover {
    cursor: pointer;
    background: rgb(102, 6, 114);
    text-decoration: underline;
    transition: 0.25s;
    letter-spacing: 0.05em;
  }
}

@media (hover: hover) and (pointer: fine) {
  .navbar-item:hover {
    cursor: pointer;
    color: #dbdbdb;
    text-decoration: underline;
    transition: 0.25s;
    letter-spacing: 0.05em;
  }
}

@media only screen and (max-width: 25600px) {
  .navbar-item,
  button.contact {
    font-size: 1.1vw;
    margin: 0.4vw;
    padding: 0 1vw;
  }
  .tekstovermij h3 {
    margin: 0px;
    padding: 0px;
  }
}

@media only screen and (max-width: 1440px) {
  .navbar-item,
  button.contact {
    font-size: 1.8vw;
    margin: 0.5vw;
  }
  .tekstovermij h3 {
    font-size: 4vw;
  }
  .tekstovermij h2 {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar-item,
  button.contact {
    font-size: 2vw;
    margin: 0.5vw;
  }
  .tekstovermij h3 {
    font-size: 4.8vw;
  }
  .tekstovermij h2 {
    font-size: 3.8vw;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-item,
  button.contact {
    font-size: 2.7vw;
    margin: 0.5vw;
  }
  
}

@media only screen and (max-width: 768px) {
  .navbar-item,
  button.contact {
    font-size: 2.9vw;
  }
  .tekstovermij h3 {
    font-size: 6vw;
    
  }
  .tekstovermij h2 {
    font-size: 5vw;
  }
}

@media only screen and (max-width: 576px) {
  .navbar-item,
  button.contact {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 450px) {
  .navbar-item,
  button.contact {
    font-size: 5vw;
  }
  button.contact {
    padding: 0px 5ttonpx 2px 5px;
  }
}
