@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600&family=Montserrat:wght@300;400;500;700;800&family=Open+Sans:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, ::before, ::after {
    box-sizing: border-box;
  }

  :root {
    --text: #ffffff;
    --background: #000d2a;
    --primary: #8fb4ff;
    --secondary: #033f3f;
    --accent: #8fb4ff;
  }

  body {
    @apply m-0 min-h-screen bg-background font-sans text-text antialiased;
    scroll-behavior: smooth;
  }

  html {
    scroll-behavior: smooth;
  }

  main {
    @apply flex flex-col gap-[200px];
  }

  h1, h2 {
    @apply font-heading;
  }

  h3 {
    @apply font-sans text-[20px] pt-[5px];
  }

  p {
    @apply font-body text-[17px];
  }

  ul {
    @apply list-none p-0 m-0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  button {
    @apply border-0 bg-transparent font-inherit;
  }
}

body[data-theme='dark'] {
  --text: #ffffff;
  --background: #000d2a;
  --primary: #8fb4ff;
  --secondary: #033f3f;
  --accent: #8fb4ff;
}

body[data-theme='light'] {
  --text: #000000;
  --background: #eaeaea;
  --primary: #3498db;
  --secondary: #033f3f;
  --accent: #3498db;
}

body[data-reduce-motion='true'] .animated {
  animation: none !important;
  transition: none !important;
}
