@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Image gallery */
.border {
  border-color: white;
  border-radius: 1rem;
}

.gallery img {
  border-radius: 1rem;
  width: 18rem;
}

@media (min-width: 587px) {
  .gallery img {
    width: 15rem;
  }
}

@media (min-width: 768px) {
  .gallery img {
    width: 14rem;
  }
}

/* Call to action animatie */
.schaarpijl {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 200px;
  animation-name: bounce-6;
  animation-timing-function: ease;
}
@keyframes bounce-6 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  2% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  8% {
    transform: scale(0.9, 1.1) translateY(-50px);
  }
  12% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  14% {
    transform: scale(1, 1) translateY(-7px);
  }
  15.6% {
    transform: scale(1, 1) translateY(0);
  }
  22% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@media (max-height: 762px) {
  .schaarpijl {
    display: none;
  }
}

/* ------ Reviews ------- */

@media screen and (prefers-color-scheme: dark) {
  // Header background
  .hUQwOR {
    background-color: rgb(31 41 55);
  }
  // Header text

  // Review background
  .ReviewBackground__Container-sc-1jrpbkc-0 {
    background-color: rgb(31 41 55);
    color: white;
  }
}

.step {
  display: none;
}
.step.active {
  display: block;
}

/* ------ Loader ------- */
.disappear {
  animation: vanish 0.3s forwards;
}
@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Messages */
.message.hide {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
