/* Custom CSS Variables */
:root {
  --text-dark: white;
  --background-dark: #000d2a;
  --primary-dark: #8fb4ff;
  --secondary-dark: #033f3f;
  --accent-dark: #8fb4ff;

  --text-light: black;
  --background-light: #ffffff;
  --primary-light: #2c3e50;
  --secondary-light: #033f3f;
  --accent-light: #3498db;
}

/* Theme Switching */
body[data-theme="dark"] {
  --text: var(--text-dark);
  --background: var(--background-dark);
  --primary: var(--primary-dark);
  --secondary: var(--secondary-dark);
  --accent: var(--accent-dark);
}

body[data-theme="light"] {
  --text: var(--text-light);
  --background: var(--background-light);
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
  --accent: var(--accent-light);
}

/* Toggle switch styles from Codepen */
.theme-switch__input,
.theme-switch__label {
  position: absolute;
  z-index: 1;
}

.theme-switch__input {
  opacity: 0;
}

.theme-switch__input:hover,
.theme-switch__input:focus {
  + .theme-switch__label {
    background-color: slateGray;
  }

  + .theme-switch__label span::after {
    background-color: lightBlue;
  }
}

.theme-switch__label {
  padding: 20px;
  margin: 60px;
  transition: background-color 200ms ease-in-out;
  width: 120px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  background-color: slateGray;
  box-shadow: -4px 4px 15px inset rgba(0, 0, 0, 0.4);
}

.theme-switch__label::before,
.theme-switch__label::after {
  font-size: 2rem;
  position: absolute;
  transform: translate3d(0, -50%, 0);
  top: 50%;
}

.theme-switch__label::before {
  content: "\263C";
  right: 100%;
  margin-right: 10px;
  color: orange;
}

.theme-switch__label::after {
  content: "\263E";
  left: 100%;
  margin-left: 10px;
  color: lightSlateGray;
}

.theme-switch__label span {
  position: absolute;
  bottom: calc(100% + 10px);
  left: 0;
  width: 100%;
}

.theme-switch__label span::after {
  position: absolute;
  top: calc(100% + 15px);
  left: 5px;
  width: 40px;
  height: 40px;
  content: "";
  border-radius: 50%;
  background-color: lightBlue;
  transition: transform 200ms, background-color 200ms;
  box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.4);
}

.theme-switch__input:checked ~ .theme-switch__label {
  background-color: lightSlateGray;
}

.theme-switch__input:checked ~ .theme-switch__label::before {
  color: lightSlateGray;
}

.theme-switch__input:checked ~ .theme-switch__label::after {
  color: turquoise;
}

.theme-switch__input:checked ~ .theme-switch__label span::after {
  transform: translate3d(70px, 0, 0);
}

/* Reduced motion preference */
body[data-reduce-motion="true"] .animated {
  animation: none !important;
  transition: none !important;
}

.animate-switcher .theme-switch__label::before {
  content: "On";
}

.animate-switcher .theme-switch__label::after {
  content: "Off";
}
