@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600&family=Montserrat:wght@300;400;500;700;800&family=Open+Sans:wght@300;400;500;600&display=swap");
/* :root {
  --text: white;
  --background: #160024;
  --primary: #8d4eb1;
  --secondary: #043422;
  --accent: #21ca8c;
  --pointer: pointer;
} */
/* :root {
  --text: white;
  --background: #000d2a;
--background2: #020e12; 
  --primary: #8fb4ff;
  --secondary: #033f3f;
  --accent: #8fb4ff;
  --pointer: pointer;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: var(--cursor);
  text-decoration: none;
  color: var(--tekst);
}

main {
  display: flex;
  flex-direction: column;
  gap: 200px;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: var(--background);
  text-decoration: none;
  cursor: var(--cursor);
  scroll-behavior: smooth;
  color: var(--text);
  height: 5000px;
}
html {
  scroll-behavior: smooth;
}
a:hover {
  cursor: pointer;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  padding-top: 5px;
}

p {
  font-family: "Hind Madurai", sans-serif;
  font-size: 17px;
}

/* Titel CTA */
.title {
  display: flex;
  flex-direction: column;
  height: 100vh;

  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 700;
  color: var(--white-black);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  gap: 20px;
}
.title span {
  color: var(--accent);
}

/* Titles */
.title2 {
  text-align: center;
  color: var(--text);
  font-size: 2.3em;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

#workexperience .title2 {
  margin-top: 0;
}

/* Button */
.button {
  padding: 10px 15px;
  background-color: var(--accent); /* Primary kleur */
  color: black; /* Tekstkleur */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s, transform 0.2s;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.button:hover,
.button:focus {
  background-color: var(--secundary); /* Accentkleur */
  transform: scale(1.05);
  cursor: pointer;
  border: 1px solid var(--accent);
  color: var(--white-black);
  box-shadow: 0 0 8px 1px var(--accent);
}

.menu-icon {
  cursor: pointer;
}
#projects,
#skills {
  top: 100px;
}

.readmore {
  text-align: center;
  margin-bottom: 20px;
  opacity: 0.6;
}

#skills,
.projects-cards {
  margin-top: 50px !important;
}

.title .switcher-container {
  bottom: 0;
  display: flex;
  justify-content: center;
  gap: 400px; /* optioneel, om ruimte tussen de knoppen te maken */
}
